doctype html
html(lang="en")
	head
		//
			Basic Page Needs
			––––––––––––––––––––––––––––––––––––––––––––––––––
		meta(charset="utf-8")
		title Twitter Client
		meta(name="description", content="")
		meta(name="author", content="")
		//
			Mobile Specific Metas
			––––––––––––––––––––––––––––––––––––––––––––––––––
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//
			FONTS
			––––––––––––––––––––––––––––––––––––––––––––––––––
		link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,600", rel="stylesheet", type="text/css")
		//
			CSS
			––––––––––––––––––––––––––––––––––––––––––––––––––
		link(rel="stylesheet", href="/static/css/global.css")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
	body
		include includes/header.pug
		block main